<app-cabecera cadena="prueba1" (botonPulsado)="cambiarPie($event)" #selector1></app-cabecera>
<app-cabecera cadena="prueba1" (botonPulsado)="cambiarPie($event)" #selector2></app-cabecera>

<p>
  Identificador BD <input type='text' [(ngModel)]='id' disabled='true'>
</p>
<p>
  Incluir la marca <input type='text' [(ngModel)]='marca'>
</p>
<p>
  Incluir el color <input type='text' [(ngModel)]='color'>
</p>
<p>
  Incluir el id de comercial <input type='text' [(ngModel)]='comercial'>
</p>

<p><button (click)="incluirCoche()">Salvar coche</button></p>
<button (click)="incrementar()">incrementar</button>
<button (click)="decrementar()">decrementar</button>


<app-pie cadena="{{cadenaPie}}" [coches]="coches"></app-pie>

<app-listado [coches]="coches" (modificarCocheListado)="modificarCoche($event)" (borrarCocheListado)="borrar($event)"></app-listado>