<!DOCTYPE html><html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
  <meta charset="utf-8">
  <title>Concesionario</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.31d6cfe0d16ae931b73c.css"></head>
<body>
  <app-root></app-root>
<script th:src="@{runtime.0aba2dffea9739b1ab30.js}" defer></script><script th:src="@{polyfills.80b83c861e6732049ee9.js}" defer></script><script th:src="@{main.21b39696e3ccda157652.js}" defer></script>

</body></html>