<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${coche.marca}"></h1>
    <h1 th:text="${coche.color}"></h1>
    <form action="#" th:action="@{/agregar}" method="post" th:object="${coche}">
        Marca<input type="text" th:field="*{marca}" />
        <span th:if="${#fields.hasErrors('marca')}">El campo marca no es correcto</span>
        <br>
        Color<input type="text" th:field="*{color}" /><br>
        <input type="submit" value="Agregar"/>
    </form>
</body>
</html>