<h1 style="text-align: center;">
  Hola mundo {{nombre}}
</h1>
<p *ngIf='sumaPrecios()>3000;else menor' style='color:blue'>{{sumaPrecios()}}</p>
<ng-template #menor>
  <h2 style="color:brown">Es menor {{sumaPrecios()}}</h2>
</ng-template>

<table>
  <tr *ngFor='let precio of precioCoches'>
    <td>{{precio}}</td>
  </tr>
</table>

<h2>Numero coches {{numeroCoches}}</h2>
<button (click)='incrementar()'>Sumar 1 coche</button>
<button (click)='decrementar()'>Sumar 1 restar un coche</button>
<br/>
<br/>
Ingrese su nombre<input type='text' [(ngModel)]='nombre'>

<h2>Nombre: {{nombre}}</h2>